<!-- Footer Section -->
<!-- <footer class="footer">
    <div class="f-info">
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-socials">
            <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer> -->


<!-- Start footer  -->
<footer class="container-fluid bg-dark text-center p-2">
    <small class="text-white">Copyright &copy; 2023 || Designed By Rohit ||<a href="./Admin/admin.php" style="text-decoration: none;">  Admin Login</a></small>
   </footer>
  <!-- End footer  -->
  
   <!-- link swiper in JS -->
   <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  
  
  <!-- jquery and bootstrap Javascipt -->
  <script src="JS/jquery.min.js"></script>
  <script src="JS/popper.min.js"></script>
  <script src="JS/bootstrap.min.js"></script>
  
  <!-- link javascript -->
  <script src="JS/script.js"></script> 
  <!-- font Awessome js  -->
  <script src="JS/all.min.js"></script>
  
  <!-- Student Ajax Call Javascipt -->
  <script type="text/javascript" src="JS/ajaxrequest.js"></script>
  </body>
  </html>